<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import test_1 urdf file -->
    <xacro:include filename="$(find robo1_description)/urdf/moveit_urdf.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="test_1.ros2_control.xacro" />


    <xacro:test_1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
